/* Awards.css or global CSS */
.pdfViewer {
  width: 100%; /* Adjust width as needed */
  height: 600px; /* Adjust height as needed */
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0 auto; /* Center horizontally */
  max-width: 800px; /* Example: Limit maximum width */
}

.container {
  text-align: center;
  margin-top: 50px; /* Adjust margin as needed */
}

.title {
  display: inline-block;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.pdfContainer {
  width: 100%;
  max-width: 800px; /* Example: Limit maximum width */
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 20px; /* Adjust margin as needed */
}

